################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorWebAppWithAuth.Client/obj
/BlazorWebAppWithAuth/obj
/BlazorWebAppWithAuth/bin/Debug/net10.0
/BlazorWebAppWithAuth.Client/bin/Debug/net10.0
/BlazorWebAppWithAuth/BlazorWebAppWithAuth.csproj.user
